@* @model NLP_Delivery.Models.Users // Specify the model for the view *@

<h1>Edit User</h1>

@* <div class="container">
    <form asp-action="Edit" method="post" class="needs-validation" novalidate>
        <input type="hidden" id="userID" name="UserID" value="@Model.UserID"> <!-- Hidden field for the UserID -->
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control" id="username" name="Username" value="@Model.Username">
        </div>
        <div class="form-group">
            <label for="username">Email:</label>
            <input type="text" class="form-control" id="emailid" name="emailid" value="@Model.EmailID">
        </div>
        <div class="form-group">
            <label for="username">Phone:</label>
            <input type="text" class="form-control" id="phonenumber" name="phonenumber" value="@Model.PhoneNumber">
        </div>
        <!-- Hidden field for the password -->
        <input type="hidden" id="password" name="Password" value="@Model.Password">
        <div class="form-group">
            @Html.LabelFor(model => model.RoleID, "Role:", new { @class = "control-label" })
            @Html.DropDownListFor(model => model.RoleID, ViewBag.Roles as IEnumerable<SelectListItem>, "-- Select Role --", new { @class = "form-control", required = "required" })
            <div class="invalid-feedback">Please select a role.</div>
        </div>
        <!-- Add more input fields for editing user details if needed -->
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="@Url.Action("ListUsers", "AppUsers")" class="btn btn-secondary">Cancel</a>
    </form>
</div>
 *@