@model AppUserViewModel // Specify the model for the view

<h1>Edit User</h1>

<div class="container">
    <form asp-action="ReSetPassword" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <input class="form-control" id="username" name="Username" value="@Model.Username" readonly>
            <input type="hidden" id="userId" name="UserID" value="@Model.UserID">
        </div>
        <!-- Hidden fields for the password and role -->
        <input type="hidden" id="roleId" name="RoleID" value="@ViewBag.UserRoleID">
        <input type="hidden" id="password" name="Password" value="@Model.Password" />
        <input type="hidden" id="EmailId" name="EmailId" value="@Model.EmailID">
        <input type="hidden" id="PhoneNumber" name="PhoneNumber" value="@Model.PhoneNumber" />
        <!-- Add fields for old password and new password -->
        <div class="form-group">
            <label for="oldPassword">Old Password:</label>
            <input type="password" class="form-control" id="oldPassword" name="OldPassword" required>
            <div class="invalid-feedback">Please enter your old password.</div>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password:</label>
            <input type="password" class="form-control" id="newPassword" name="NewPassword" required>
            <div class="invalid-feedback">Please enter your new password.</div>
        </div>
        <!-- Add more input fields for editing user details if needed -->
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="@Url.Action("ListUsers", "AppUsers")" class="btn btn-secondary">Cancel</a>
    </form>
</div>
